<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>

  <h2 class="title">ECS Example Game</h2>

  <div id="game">
    <!-- Connecting -->
    <div v-if="!connected">
      <p>Connecting</p>
    </div>

    <div v-else-if="!signIn"><%- include('login'); -%></div>
    <div v-else>
      <p>Connecting...</p>
      <%- include('chat'); -%>
    </div>
  </div>

  <%- include('footer'); -%>
</html>
