<div class="col text-center">
    <br>
    <h1>Preparing the next round...</h1>
    <br>
    <div class="loader"></div>
    <br>
    <h2>Your submitted drawing:</h2>
    <br>
    <img id="final-image" :src="image">
</div>