<div class="col">

    <div class="col-sm-4 text-center">
        <p><strong>Time Remaining:</strong></p>
        <p>{{state.countdown}}</p>
    </div>

    <div class="col text-center">
        <div class="player me" v-if="me.state == 1">

            <div id="canvas">
                <div id="toolbar">
                    <h1>Draw: <strong>{{prompt}}</strong></h1>
                    <label for="stroke">Stroke</label>
                    <input id="stroke" name='stroke' type="color">
                    <label for="lineWidth">Line Width</label>
                    <input id="lineWidth" name='lineWidth' type="number" pattern="[0-9]*" inputmode="numeric" value="5">
                    <button id="clear">Clear</button>
                </div>
                <br>
                <div class="drawing-board">
                    <canvas id="drawing-board"></canvas>
                </div>
            </div>
        </div>
        <div v-else>
            <h2>Wait for others to submit...</h2>
        </div>
        <div v-else-if="me.state == -1">
            <h2>You are currently spectating the game!</h2>
        </div>
    </div>
</div>


<div class="row">

    <div v-for="player of players" class="col-md-2 text-center">
        <br>
        <div class="player">
            <strong>{{player.username}}</strong>
        </div>

    </div>
</div>

