body {
  background-image: url("/static/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #acc5d0;
}
.title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
  padding-top: 10px;
  min-height: 100vh;
  height: 100%;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 80vh;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

#drawing-board {
  background-color: white;
  border: black 1px solid;
}

#final-image {
  background-color: white;
  border: black 1px solid;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid black; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    width: 50%;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid black; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#canvas {
  padding: 0;
  margin: 0;
}
.waiting-text {
  font-size: 30px;
  color: #f7d704;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(#eee, #b90101);
  animation: shine 10s linear infinite;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.table-container {
  display: flex;
  flex-wrap: wrap;
}

.table-cell {
  flex: 0 0 33.33%; /* Three items per row */
  box-sizing: border-box;
  padding: 10px;
}

#chain {
  overflow: auto;
  max-height: 80vh;
}

#chain img {
  background-color: white;
  border: black 1px solid;
}

#chain label {
  font-weight: bold;
  font-size: 20px;
}

@keyframes shine {
  from {
    background-position: top;
  }
  to {
    background-position: bottom;
  }
}
